
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  overflow: hidden;
  scroll-behavior:smooth;
  display: flex;
}
body{
  font-family: "Fredoka", sans-serif !important; 
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-weight: 600;
}
section{
  cursor:default;
}
.navigation{
  height:100vh;
  padding: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-title i{
  display: none;
}
.nav-title img{
  display: none;
}
.navigation .main-nav-box{
  background-color: rgba(0, 0, 0, 0.582);
  height: 80vh;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation .nav-head .nav-title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.548);
  color:white;
  border-radius: 15px;
  width: 190px;
  height: 65px;
  cursor:context-menu;
}
.navigation .nav-list{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
}
.navigation .nav-list .btns{
  color: black;
  font-weight:600;
  background-color: rgba(0, 0, 0, 0.082);
  height: 53px;
  width: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.navigation div .btns{
  text-decoration: none;
}
.navigation div .btns::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color:rgba(255, 255, 255, 0.616);
  transform: scale(0);
  transform-origin: 0% 100%;
  transition: all 0.3s ease-in;
}
.navigation div .btns:hover.btns::after{
  transform: scale(1);
}
.navigation div .btns::before{
  position: absolute;
  content: "";
  width: 100%;
  height:0%;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.616);
  transition: all 0.39s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0.4s;
}
.navigation div .btns:hover.btns::before{
  height: 100%;
  color: black;
}
.navigation div .btns:hover.btns{
  color: black;
  transition: color 1.4s ease;
}
.navigation div .btns:hover.btns i{
  color: black;
  transition: color 1.4s ease;
}
.navigation .btns i,
.nav-list span{
  z-index: 2;
}
.navigation .btns i{
  color: white;
}
.main-nav-box .btns.active, 
.btns i.active{
   color: black;
   background-color: rgba(255, 255, 255, 0.616);
}
  /* homepage */
.home{
  background-image:url(portfolio/images/bg-white-6.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content:end;
  align-items: center;
}
.home-box{
  background-color: rgba(0, 0, 0, 0.582);
  height: 80vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-box img{
  width: 200px;
  height: 200px;
  border-top-left-radius:10% 5px;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 10% 5px;
}
.home-box h1{
  color: black;
}
.home-p{
  color: white;
}
.home-p .auto-type{
  color: #0d6dfdd5;
  font-weight: 600;
}
.home-box .btn-box .btn-1,.btn-box .btn-2{
  width: 150px;
  height: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-box .btn-box .btn-1{
  border:2px solid  whitesmoke;
  background-color: transparent;
  color: white;
  font-weight: 600
}
.home-box .btn-box .btn-1:hover{
  transition: all .6s ease;
  background-color: whitesmoke;
  color: black;
}
.home-box .btn-box .btn-2{
  border: 2px solid white;
  background-color: whitesmoke;
  font-weight: 600;
  color: black;
}
.home-box .btn-box .btn-2:hover{
  transition: all .6s ease;
  background-color: transparent;
  color: white;
}

  /* about page */
.about{
  background-image:url(portfolio/images/bg-white-7.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  min-width:100%;
  height: 100vh;
  display: flex;
  justify-content:end;
  align-items:center;
}
.about-main-box{
  height: 80vh;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-content{
  color:whitesmoke;
  overflow-y: scroll;
  height: 410px;
}
.about-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 410px;
}
.about-content::-webkit-scrollbar{
  width: 0;
}
.about-content::-webkit-scrollbar-track{
  background-color:transparent;
}
.about-content::-webkit-scrollbar-thumb{
  background-color:transparent;
}

.about img{
  width: 270px;
  height: 410px;
}

  /* skills page */
.skills{
  background-image:url(portfolio/images/bg-white-8.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  min-width:100%;
  height: 100vh;
  display: flex;
  justify-content:end;
  align-items:center;
}
.main-skills{
  height: 80vh;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.skills-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.skills-boxes{
  flex-direction: column;
}
.skills-boxes .skill-box{
  width: 140px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.363);
  padding: 15px;
  margin: 13px 13px 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotateZ(45deg);
}
.skills-boxes .skill-box div{
  transform: rotateZ(-45deg);
  line-height: 24px;
}
.skills-boxes .skill-box:hover{
  background-color: rgba(255, 255, 255, 0.548);
  transition: all .7s ease;
}
.skills-boxes .skill-box:hover.skill-box i,.skills-boxes .skill-box:hover.skill-box p{
  color: black;
  transition: all .7s ease;
}
.skill-box div i{
  color: #0d6dfdd5;
  font-size: 60px;
}
.skill-box div .p1{
  color: whitesmoke;
  font-size: 16px;
  font-weight: 300;
}
.skill-box div .p2{
  color: whitesmoke;
  font-size: 22px;
  font-weight: 500;
}
  /* project page */
.projects{
  background-image:url(portfolio/images/bg-white-9.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  min-width:100%;
  height: 100vh;
  display: flex;
  justify-content:end;
  align-items:center;
}
.project-main h1{
  width: fit-content;
}
.project-main{
  height: 80vh;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow:auto;
}
.project-main::-webkit-scrollbar{
  width: 0;
}
.project-main::-webkit-scrollbar-track{
  background-color: transparent;
}
.project-main::-webkit-scrollbar-thumb{
  background-color:transparent;
}
.project-img .live-btn{
  color:white;
  border-color:  rgba(255, 255, 255, 0.534);
  letter-spacing: 4px;
}
.project-img .live-btn:hover{
  background-color: rgba(255, 255, 255, 0.534);
  color: black;
  transition: all 1s ease;
}
/* contact page */
.contacts{
  background-image:url(portfolio/images/bg-white-10.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  min-width:100%;
  height: 100vh;
  display: flex;
  justify-content:end;
  align-items:center;
}
.contact-main{
  height: 80vh;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-img img{
   width: 200px;
   height: 200px;
   border-top-left-radius:30%;
   border-top-right-radius:5%;
   border-bottom-left-radius: 5%;
   border-bottom-right-radius:30%;
}
.contact-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-box .contact-btn{
  background-color: rgba(245, 245, 245, 0.637);
  border-radius:50px;
  border: 2px solid  rgba(245, 245, 245, 0.637);
  width: 180px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-box .contact-btn a{
  text-decoration: none;
  color: black;
}
.contact-box .contact-btn a:hover{
  transition: all .4s ease;
  color: white;
  font-weight: 600;
  background-color: transparent;
}
.contact-icon i{
  margin: 15px 30px;
  font-size: 30px;
  color:black;
}
.contact-icon i:hover{
  transition: all .6s ease;
  color: #0d6dfdd5;
}
  /* Media Query */
@media screen and (min-width:769px) and (max-width:992px) {

  /* Navigation Bar */ 
  .navigation .main-nav-box{
      width: 200px;
  }
  .navigation .nav-head .nav-title{
      width: 185px;
      height: 65px;
  }
  .navigation div .btns{
      width: 130px;
      height: 50px;
  }
 /* Home Page */
 .home{
  justify-content:end;
 }
 

 /* About Page */
 .about{
  justify-content:end;
 }
 .about-head{
  height: 400px;
 }
 .about-content{
  height: 400px;
 }
 .about img{
  width: 250px;
  height: 390px;
 }

 /* Skills Page */
 .skills{
  justify-content:end;
 }
 .skills-boxes .skill-box{
  width: 125px;
  height: 125px;
  padding: 15px;
  margin: 10px 10px 50px;
 }
 .skills-boxes .skill-box div{
  line-height: 20px;
 }
 .skill-box div i{
  font-size: 52px;
 }

 /* Project Page */
 .projects{
  justify-content:end;
 }

 /* Contact Page */
 .contacts{
  justify-content:end;
 }
 .contact-img img{
  width: 170px;
  height: 170px;
 }
 .contact-icon i{
  margin: 10px 20px;
  font-size: 34px;
 }

}

@media screen and (min-width:577px) and (max-width:768px) {
  /* Navigation */

  .navigation .nav-head .nav-title{
      background-color: transparent;
      padding-bottom: 0;
      margin: 0;
  }
   .navigation .main-nav-box{
    height: 85vh;
   }
  .nav-title img{
      display: block;
      width: 55px;
      height: 55px;
      background-color:whitesmoke;
      border-radius: 50%;
  }
  .nav-title h1{
      display: none;
  }
  .nav-list span{
      display: none;
  }
  .navigation .main-nav-box{
      width: 110px;
  }
  .navigation .nav-head .nav-title{
      width: 85px;
  }
  .navigation .nav-list{
      display: none;
  }
  .navigation .nav-list .btns{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      margin: 5px;
  }
  .nav-list a{
      margin-bottom: 0px;
  }

  /* Home Page */
  .home-box{
      width: 77%;
      height: 85vh;
  }
  /* About Page */
  .about-main-box{
      width: 77%;
      height: 85vh;
  }
  .about-head{
      height: 390px;
  }
  .about img{
      width: 230px;
      height: 390px;
  }
  /* Skills Page */
  .main-skills{
      width: 77%;
      height: 85vh;
  }
  .skills-boxes .skill-box{
      width: 118px;
      height: 118px;
      padding: 10px;
      margin: 15px 5px 37px;
  }
  .skills-boxes .skill-box div{
      line-height: 18px;
  }
  .skill-box div i{
      font-size: 48px;
  }
  /* Project Page */
  .project-main{
      width: 77%;
      height: 85vh;
  }
  /* Contact Page */
  .contact-main{
      width: 77%;
      height: 85vh;
  }
  .contact-box .contact-btn{
      width: 170px;
      height: 55px;
  }
  .contact-icon i{
      margin: 10px 15px;
  }

}

@media screen and (max-width:576px) {
  main{
      flex-direction: column;
  }
  .reavel{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
}
.reavel.active{
    transform: translateY(0px);
    opacity: 1;
}
  /* Navigation */
  .navigation{
      position:static;
      justify-content: start;
      height: auto;
      padding: 0 0;
  }
  .navigation .main-nav-box{
      width: 100vw;
      position: sticky;
      height: auto;
      top: 0;
      left: 0;
     padding: 0;
     margin: 0;
  }
  .navigation .nav-head .nav-title{
      background-color: transparent;
      width: 95vw;
  }
  .nav-title i{
      display: block;
      font-size: 34px;
      margin-right:10px;  
  }
  .nav-title h1{
      display: block;
      margin-right: auto;
      margin-left:10px;
  }
  .navigation .main-nav-box{
      height:auto;
      white-space:nowrap;
  }
  .main-nav-box .nav-list{
      display:none;
    flex-direction: column;
    width: 100%;
  }
  .main-nav-box .nav-list.a{
    display:flex;
    flex-direction: column;
    width: 100%;
  }
  .main-nav-box .nav-list .btns{
      width:90vw;
      margin: 5px 10px;
  }
  /* Home Page */
  .home{
      justify-content: center;
      height:85vh;
      margin: 0;
  }
  .home-box{
    height: 80vh;
      
      width: 100%;
      padding:10px 0;
      margin: 0;
      /* height:fit-content; */
  }
  .home-box h1{
      font-size: 26px;
      font-weight: 600;
      margin: 15px 0;
  }
  .home-p{
      font-size: 24px;
  }
  .home-p .auto-type{
      font-size: 22px;
      font-weight: 500;
  }
  .btn-box{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  /* About Page */
  .about{
      justify-content: center;
      align-items: center;
      height: auto;
      margin: 0;
  }
  .about-main-box{
      width: 100%;
      height: auto;
      display: flex;
      justify-content:center;
      align-items: center;
      flex-wrap: wrap;
      overflow-y:auto;
      margin: 10px 0;
      padding:10px 0;
  }
 
  .about-head{
      width: 100%;
      height: auto;
      padding-bottom: 20px;
      margin:10px 0 0;
      padding: 0;
  }
  .about-content {
      overflow:visible;
      height:auto;
      padding: 10px;
  }
  .about-img img{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 270px;
      height: 350px;
      margin-top: 20px;
  }
  /* Skills Page */
  .skills{
      justify-content: center;
      height: auto;
      margin: 0;
      height: 85vh;
  }
  .main-skills{
      width: 100%;
      height:80vh;
      overflow: hidden;
      margin:  0 ;
      padding: 0 ;
      padding-top: 5px;
  }

  .skills-container{
      flex-direction: column;  
      overflow-y:visible;
      width: 100%;
      height:auto;
  }
  .skills-boxes{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
  }
  .skills-boxes .skill-box{
      width: 100px;
      height: 100px;
      margin:10px 22px  10px 21px;
  }
  .skill-box i{
    font-size: 40px !important;
  }
  /* Porject Page */
  .projects{
      justify-content: center;
      height: auto;
      margin: 0;
  }
  .project-main{
      padding-top: 10px;
      width: 100%;
      height: auto;
      margin:10px 0 !important;
  }
  /* Contact Page */
  .contacts{
      justify-content: center;
      height:auto;
      margin: 0;
  }
  .contact-main{
      width: 100%;
      height:auto;
      margin: 20px 0;
      padding: 20px 0;
  }
  .contact-main h1{
    margin: 20px 0 0;
  }
  .contact-img{
    margin: 20px 0;
  }
  .contact-box{
    margin-top: 10px;
  }
  .contact-btn{
    margin: 15px 0;
  }
  .contact-icon{
    margin: 15px 0;
  }
  .contact-icon i{
      margin: 10px 15px;
      font-size: 26px;
  }

}